<section class="info">
   <h2>{{np.name}}</h2>
   <div class="info-body">
   {{#if class}}
   <p><span class="lable">Class: </span>{{np.class}}</p>
   {{/if}}
   {{#if str}}
   <p><span class="lable">Strength: </span>{{np.str}}</p>
   {{/if}}
   {{#if dex}}
   <p><span class="lable">Dextarity: </span>{{np.dex}}</p>
   {{/if}}
   {{#if con}}
   <p><span class="lable">Constitution: </span>{{np.con}}</p>
   {{/if}}
   {{#if int}}
   <p><span class="lable">Intelegence: </span>{{np.int}}</p>
   {{/if}}
   {{#if wis}}
   <p><span class="lable">Wisdom: </span>{{np.wis}}</p>
   {{/if}}
   {{#if cha}}
   <p><span class="lable">Carisma: </span>{{np.cha}}</p>
   {{/if}}
   {{#if description}}
   <p><span class="lable">Description: </span>{{np.description}}</p>
   {{/if}}
   {{#if race}}
   <p><span class="lable">Race: </span>{{np.race}}</p>
   {{/if}}
   {{#if alignment}}
   <p><span class="lable">Alignment: </span>{{np.alignment}}</p>
   {{/if}}
   {{#if ac}}
   <p><span class="lable">Armor Class: </span>{{np.ac}}</p>
   {{/if}}
   {{#if attacks}}
   <p><span class="lable">Attacks: </span>{{np.attacks}}</p>
   {{/if}}
   {{#if skills}}
   <p><span class="lable">Skills: </span>{{np.skills}}</p>
   {{/if}}
   {{#if feats}}
   <p><span class="lable">Feats: </span>{{np.feats}}</p>
   {{/if}}
   {{#if hp}}
   <p><span class="lable">Hit Points: </span>{{np.hp}}</p>
   {{/if}}
   {{#if hd}}
   <p><span class="lable">Hit Dice: </span>{{np.hd}}</p>
   {{/if}}
   {{#if clothing}}
   <p><span class="lable">Clothing: </span>{{np.clothing}}</p>
   {{/if}}
   {{#if gear}}
   <p><span class="lable">Gear: </span>{{np.gear}}</p>
   {{/if}}
   {{#if platinum}}
   <p><span class="lable">Platinum: </span>{{np.platinum}}</p>
   {{/if}}
   {{#if gold}}
   <p><span class="lable">Gold: </span>{{np.gold}}</p>
   {{/if}}
   {{#if silver}}
   <p><span class="lable">Silver: </span>{{np.silver}}</p>
   {{/if}}
   {{#if copper}}
   <p><span class="lable">Copper: </span>{{np.copper}}</p>
   {{/if}}
   {{#if iron}}
   <p><span class="lable">Iron: </span>{{np.iron}}</p>
   {{/if}}
   {{#if positive}}
   <p><span class="lable">Positive: </span>{{np.positive}}</p>
   {{/if}}
   {{#if negative}}
   <p><span class="lable">Negative: </span>{{np.negative}}</p>
   {{/if}}
   {{#if goal}}
   <p><span class="lable">Goal: </span>{{np.goal}}</p>
   {{/if}}
   {{#if language}}
   <p><span class="lable">Languages: </span>{{np.language}}</p>
   {{/if}}
   {{#if traits}}
   <p><span class="lable">Traits: </span>{{np.traits}}</p>
   {{/if}}
   {{#if notes}}
   <p><span class="lable">Notes: </span>{{np.notes}}</p>
   {{/if}}
   </div>
</section>
<section class="info">
   <h2>Picturess</h2>
   <div class="info-body">
   <p><span class="select-picture">Click for Pictures</span></p>
   </div>
</section>
