<section class="info">
   <h2>{{np.name}}</h2>
   <div class="info-body">
   {{#if class}}
   <p><span class="label">Class: </span>{{np.class}}</p>
   {{/if}}
   {{#if str}}
   <p><span class="label">Strength: </span>{{np.str}}</p>
   {{/if}}
   {{#if dex}}
   <p><span class="label">Dextarity: </span>{{np.dex}}</p>
   {{/if}}
   {{#if con}}
   <p><span class="label">Constitution: </span>{{np.con}}</p>
   {{/if}}
   {{#if int}}
   <p><span class="label">Intelegence: </span>{{np.int}}</p>
   {{/if}}
   {{#if wis}}
   <p><span class="label">Wisdom: </span>{{np.wis}}</p>
   {{/if}}
   {{#if cha}}
   <p><span class="label">Carisma: </span>{{np.cha}}</p>
   {{/if}}
   {{#if description}}
   <p><span class="label">Description: </span>{{np.description}}</p>
   {{/if}}
   {{#if race}}
   <p><span class="label">Race: </span>{{np.race}}</p>
   {{/if}}
   {{#if alignment}}
   <p><span class="label">Alignment: </span>{{np.alignment}}</p>
   {{/if}}
   {{#if ac}}
   <p><span class="label">Armor Class: </span>{{np.ac}}</p>
   {{/if}}
   {{#if attacks}}
   <p><span class="label">Attacks: </span>{{np.attacks}}</p>
   {{/if}}
   {{#if skills}}
   <p><span class="label">Skills: </span>{{np.skills}}</p>
   {{/if}}
   {{#if feats}}
   <p><span class="label">Feats: </span>{{np.feats}}</p>
   {{/if}}
   {{#if hp}}
   <p><span class="label">Hit Points: </span>{{np.hp}}</p>
   {{/if}}
   {{#if hd}}
   <p><span class="label">Hit Dice: </span>{{np.hd}}</p>
   {{/if}}
   {{#if clothing}}
   <p><span class="label">Clothing: </span>{{np.clothing}}</p>
   {{/if}}
   {{#if gear}}
   <p><span class="label">Gear: </span>{{np.gear}}</p>
   {{/if}}
   {{#if platinum}}
   <p><span class="label">Platinum: </span>{{np.platinum}}</p>
   {{/if}}
   {{#if gold}}
   <p><span class="label">Gold: </span>{{np.gold}}</p>
   {{/if}}
   {{#if silver}}
   <p><span class="label">Silver: </span>{{np.silver}}</p>
   {{/if}}
   {{#if copper}}
   <p><span class="label">Copper: </span>{{np.copper}}</p>
   {{/if}}
   {{#if iron}}
   <p><span class="label">Iron: </span>{{np.iron}}</p>
   {{/if}}
   {{#if positive}}
   <p><span class="label">Positive: </span>{{np.positive}}</p>
   {{/if}}
   {{#if negative}}
   <p><span class="label">Negative: </span>{{np.negative}}</p>
   {{/if}}
   {{#if goal}}
   <p><span class="label">Goal: </span>{{np.goal}}</p>
   {{/if}}
   {{#if language}}
   <p><span class="label">Languages: </span>{{np.language}}</p>
   {{/if}}
   {{#if traits}}
   <p><span class="label">Traits: </span>{{np.traits}}</p>
   {{/if}}
   {{#if notes}}
   <p><span class="label">Notes: </span>{{np.notes}}</p>
   {{/if}}
   </div>
</section>
<section class="info">
   <h2>Pictures</h2>
   <div class="info-body">
   <p><span class="select-picture">Click for Pictures</span></p>
   </div>
</section>
