{{>header}}

<main>

<section class="info">
<div class="modal-header">
         <button type="button" id="npc-remove-button">&times;</button>
      </div>
   <h2>{{campnp.name}}</h2>
   <div class="info-body">
   {{#if campnp.class}}
   <p><span class="label">Class: </span>{{campnp.class}}</p>
   {{/if}}
   {{#if campnp.str}}
   <p><span class="label">Strength: </span>{{campnp.str}}</p>
   {{/if}}
   {{#if campnp.dex}}
   <p><span class="label">Dextarity: </span>{{campnp.dex}}</p>
   {{/if}}
   {{#if campnp.con}}
   <p><span class="label">Constitution: </span>{{campnp.con}}</p>
   {{/if}}
   {{#if campnp.int}}
   <p><span class="label">Intelegence: </span>{{campnp.int}}</p>
   {{/if}}
   {{#if campnp.wis}}
   <p><span class="label">Wisdom: </span>{{campnp.wis}}</p>
   {{/if}}
   {{#if campnp.cha}}
   <p><span class="label">Carisma: </span>{{campnp.cha}}</p>
   {{/if}}
   {{#if campnp.description}}
   <p><span class="label">Description: </span>{{campnp.description}}</p>
   {{/if}}
   {{#if campnp.race}}
   <p><span class="label">Race: </span>{{campnp.race}}</p>
   {{/if}}
   {{#if campnp.alignment}}
   <p><span class="label">Alignment: </span>{{campnp.alignment}}</p>
   {{/if}}
   {{#if campnp.ac}}
   <p><span class="label">Armor Class: </span>{{campnp.ac}}</p>
   {{/if}}
   {{#if campnp.attacks}}
   <p><span class="label">Attacks: </span>{{campnp.attacks}}</p>
   {{/if}}
   {{#if campnp.skills}}
   <p><span class="label">Skills: </span>{{campnp.skills}}</p>
   {{/if}}
   {{#if campnp.feats}}
   <p><span class="label">Feats: </span>{{campnp.feats}}</p>
   {{/if}}
   {{#if campnp.hp}}
   <p><span class="label">Hit Points: </span>{{campnp.hp}}</p>
   {{/if}}
   {{#if campnp.hd}}
   <p><span class="label">Hit Dice: </span>{{campnp.hd}}</p>
   {{/if}}
   {{#if campnp.clothing}}
   <p><span class="label">Clothing: </span>{{campnp.clothing}}</p>
   {{/if}}
   {{#if campnp.gear}}
   <p><span class="label">Gear: </span>{{campnp.gear}}</p>
   {{/if}}
   {{#if campnp.platinum}}
   <p><span class="label">Platinum: </span>{{campnp.platinum}}</p>
   {{/if}}
   {{#if campnp.gold}}
   <p><span class="label">Gold: </span>{{campnp.gold}}</p>
   {{/if}}
   {{#if campnp.silver}}
   <p><span class="label">Silver: </span>{{campnp.silver}}</p>
   {{/if}}
   {{#if campnp.copper}}
   <p><span class="label">Copper: </span>{{campnp.copper}}</p>
   {{/if}}
   {{#if campnp.iron}}
   <p><span class="label">Iron: </span>{{campnp.iron}}</p>
   {{/if}}
   {{#if campnp.positive}}
   <p><span class="label">Positive: </span>{{campnp.positive}}</p>
   {{/if}}
   {{#if campnp.negative}}
   <p><span class="label">Negative: </span>{{campnp.negative}}</p>
   {{/if}}
   {{#if campnp.goal}}
   <p><span class="label">Goal: </span>{{campnp.goal}}</p>
   {{/if}}
   {{#if campnp.language}}
   <p><span class="label">Languages: </span>{{campnp.language}}</p>
   {{/if}}
   {{#if campnp.traits}}
   <p><span class="label">Traits: </span>{{campnp.traits}}</p>
   {{/if}}
   {{#if campnp.notes}}
   <p><span class="label">Notes: </span>{{campnp.notes}}</p>
   {{/if}}
   </div>
</section>
<section class="info">
   <h2>Pictures</h2>
   <div class="info-body">
   <p><span id="select-picture">Click for Pictures</span></p>
   </div>
</section>

</main>
{{>footer}}